@media screen and (max-width: 600px) {
  .animation {
    display: none;
  }
  .background {
    height: 700px;
  }
  .header-all {
    gap: 0;
  }
  .header-detail-1 {
    width: 100%;

    justify-content: space-between;
  }
  .header-detail-11 {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .header-detail-2 {
    display: none;
  }
  .search-text {
    display: none;
  }
  .icons {
    display: none;
  }

  .profile-text {
    margin: 0%;
    width: 550px;
  }
  .choose {
    margin-top: -450px;
    margin-left: 25px;
  }
  .scroll-divs {
    margin-top: -400px;
  }
  .card {
    min-width: 220px;
    height: 300px;
  }
  .comment {
    max-width: 600px;
  }
  .first {
    margin: 0;
  }
}
